.login_via_yandex {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;overflow: hidden;white-space: nowrap;clip: rect(0 0 0 0);-webkit-clip-path: inset(100%);clip-path: inset(100%);}
#lvyid_auth_default {margin-bottom: 1rem;}
